parameters:
    level: max
    paths:
        - src
        - tests
        - benchmarks
        - install.php
        - bin/composer-store
    excludePaths:
        - tests/Fixtures
    stubFiles:
        - phpstan/FFI.stub
